# Elastic Beanstalk
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
eb-cli-env/

# Environment variables
.env
.env.*

# IDEs and editors
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db
