container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_loaddata:
    command: "python manage.py shell -c \"from polls.models import Question, Choice; from django.utils import timezone; q=Question.objects.create(question_text='Are you enjoying this Django app?', pub_date=timezone.now()); Choice.objects.create(question=q, choice_text='Yes', votes=0); Choice.objects.create(question=q, choice_text='No', votes=0)\""
    leader_only: true
